.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }
    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        box-shadow: 0 1rem 2rem transparent;
        width: 90%;
        display: block;
        transition: all .3s;

        @include respond(tab-port) {
            width: 100%;
        }
        &:focus {
            outline:none;
            border-bottom: 3px solid $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .2);
        }
        &:focus:invalid {
            // When the input is invalid like invalid Email address etc.
            border-bottom: 3px solid $color-secondary-dark;
        }

        &::-webkit-input-placeholder {
            // Used to style the placeholder in input element
            color: $color-grey-dark-2;
        }
    }
    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }
    // Responsible for the label effect

    &__input:placeholder-shown + &__label {  // + is for adjacent sibling (sibling should be after the element in html)
        opacity: 0;
        visibility: hidden;   // Makes the element inexistent, have to use opacity for animation
        transform: translateY(-4rem);
    }

    &__radio-group {
        width: 49%;
        display: inline-block;

        @include respond(tab-port) {
            width: 100%;
            margin-bottom: 2rem;
        }
    }
    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 4rem;
    }
    &__radio-input {
        display: none;
    }
    &__radio-button {
        height: 3rem;
        width: 3rem;
        display: inline-block;
        border: 5px solid $color-primary;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: -.4rem;
        &::after {
            content: "";
            display: block;
            border-radius: 50%;
            height: 1.3rem;
            width: 1.3rem;
            position: absolute; // Even though radio button has positon as absolute it will work, 
            // the position should be specified it can be anything for it to work
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity: 0;
            transition: opacity .2s;
        }
    }
    &__radio-input:checked + &__radio-label &__radio-button::after {
        opacity: 1;
    }
}