.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: $color-white;
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);
    &__shape {
        background-color: lightsalmon;
        width: 15rem;
        height: 15rem;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);    // Defines how the text around wraps itself around this.
        // The lement must have width and height and also need to be floated.
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);   // When element is floated use translate instead of padding or margins to move it around.
    }
    &__image {
        height: 100%;
    }
    &__text {
        transform: skewX(12deg);
    }
}